##Tipos de Estruturas de Dados

In [ ]:
##listas - []
##['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']
##

In [1]:
##dicionarios - {}

estudantes = {"Mateus":24, "Fernanda":22, "Tamires":26, "Cristiano":25}
##            "chave":valor

In [2]:
estudantes.keys()

dict_keys(['Mateus', 'Fernanda', 'Tamires', 'Cristiano'])

In [3]:
estudantes.values()

dict_values([24, 22, 26, 25])

In [4]:
estudantes.items()

dict_items([('Mateus', 24), ('Fernanda', 22), ('Tamires', 26), ('Cristiano', 25)])

In [ ]:
##tuplas - () - Semalhantes a listas mas imutaveis
##
# Tuplas não suportam atribuição de item

In [8]:
# Criando uma tupla
t2 = ('A', 'B', 'C')
t2

('A', 'B', 'C')

In [9]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [10]:
lista_t2.append('D')

In [11]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [12]:
t2

('A', 'B', 'C', 'D')